.employeeList{
  width: 1200px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 40px;
  &__menu{
    font-size: 32px;
    margin-bottom: 20px;
    label{
      font-size: 20px;
      input{
        margin-left: 20px;
      }
    }
  }
  &__container{
    display: grid;
    row-gap: 10px;
    padding: 20px 0;
  }
  &__controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__search,
  &__filter,
  &__role {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  h2{
    font-size: 32px;
    margin-bottom: 20px;
  }
}

