.productListPage{
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 20px 40px;
}
.productList{
  width: 1200px;
  list-style: none;
  display: grid;
  row-gap: 10px;

}
.productListPage{
  h2{
    font-size:32px;
    margin-bottom: 20px;
  }
}

.filters {
  display: grid;
  column-gap: 20px;
  grid-template-columns: max-content max-content;
  margin-bottom: 20px;
}