.storeManager{
  width: 100%;
  //height: 200px;
  //background: red;
  display: grid;
  justify-content: center;
  justify-items: center;
  &__menu{
    width: 1200px;
    height: 100px;
    display: grid;
    //justify-items: center;
    align-items: center;
    grid-template-columns: 1fr max-content;
    margin-bottom: 32px;
  }

}